name: Push to main
on:
  push:
    branches:
      - main
permissions:
  contents: read
  actions: read
jobs:
  ci:
    name: CI
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Run linting
        shell: bash
        run: npx nx affected -t lint --base "$NX_BASE" --head "$NX_HEAD"

      - name: Check formatting
        shell: bash
        run: npx nx format:check --base "$NX_BASE" --head "$NX_HEAD"

      - name: Compile projects
        shell: bash
        run: npx nx affected -t build --base "$NX_BASE" --head "$NX_HEAD"

      - name: Run tests
        shell: bash
        run: npx nx affected -t test --base "$NX_BASE" --head "$NX_HEAD"
